body {
  background-color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
}

.bookHeadLine {
  font-size: 12px;
  font-weight: bold;
}

.bookDescription {
  font-size: 10pt;
}

label {
  font-weight: bold;
}